@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
body{
    font-family: "Manrope", sans-serif;
    color: #212121;
}
p{
    font-size: 1rem;
    color: #737373;
}
/* .portfolio-card{
    background-image: url(../assets/img2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
} */

/* .card-body :where(p) {
	flex-grow: 0;
} */